<%- include("commentheader") -%>

<div class="box" id="heading">
  <h1> Comments</h1>
</div>

<div class="box">
  <%newListItems.forEach(function(item){%>
    <div class="item">
      <p><%=item%></p>

    </div>
  <%})%>

  <form class="item" action="/addcomment" method="post">
    <input type="text" name="newItem" placeholder="Add comments" autocomplete="off">
    <button type="submit" name="list">+</button>
  </form>
</div>

<%- include("commentfooter") -%>
