html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background: url("images/home-background.png") center center / cover no-repeat
    fixed;
  color: #f9f9f9;
  font-family: Avenir-Roman, sans-serif;
  margin: 0;
  padding: 0;
}

.login {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
.login:hover {
  background-color: #f9f9f9;
  color: #000;
  border-color: transparent;
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Patrick Hand', cursive;
}

.about-intro{
  line-height:40px;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

.box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #0c0f1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  letter-spacing: 16px;
  z-index: 3;
}
.logo {
  padding: 0;
  width: 45px;
  margin-top: 4px;
  max-height: 70px;
  display: inline-block;
}
.logo img {
  display: flex;
  width: 100%;
}
.container {

  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  position: relative;
  margin-right: auto;
  margin-left: 25px;
}

.container a {
  display: flex;
  align-items: center;
  padding: 0 12px;
  text-decoration: none;
}
.container span {
  color: rgb(249, 249, 249);
  font-size: 13px;
  letter-spacing: 1.42px;
  line-height: 1.08;
  padding: 2px 20px;
  white-space: nowrap;
  position: relative;
}
.container span::before {
  background-color: rgb(249, 249, 249);
  border-radius: 0px 0px 4px 4px;
  bottom: -6px;
  content: "";
  height: 2px;
  left: 0px;
  opacity: 0;
  position: absolute;
  right: 0px;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  visibility: hidden;
  width: auto;
}
.container span:hover::before {
  transform: scaleX(1);
  visibility: visible;
  opacity: 1 !important;
}

.info {
  height: 100vh;
  /* background: url("/images/study2.jpeg") center center / cover no-repeat fixed; */
  color: #f9f9f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info::before {
  content: "";
  background: url("images/study2.jpeg") center center / cover no-repeat fixed;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
}
.write {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fafafa;
}
.write h1 {
  margin: 0px;
}

.box2 {
  position: relative;
  /* min-height: calc(100vh - 250px); */
  overflow-x: hidden;
  display: block;
  padding: 0 calc(3.5vw + 5px);
}
.box2::after {
  background: url("images/home-background.png") center center / cover no-repeat
    fixed;
  content: "";
  position: absolute;
  inset: 0px;
  opacity: 1;
  z-index: -1;
}
.subject {
  padding: 0 0 26px;
}
.books {
  display: grid;
  grid-gap: 25px;
  gap: 25px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.wrap {
  padding-top: 56.25%;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  border: 3px solid rgba(249, 249, 249, 0.1);
}
.wrap img {
  inset: 0px;
  display: block;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  transition: opacity 500ms ease-in-out 0s;
  width: 100%;
  z-index: 1;
  top: 0;
}
.wrap:hover {
  box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
    rgb(0 0 0 / 72%) 0px 30px 22px -10px;
  transform: scale(1.05);
  border-color: rgba(249, 249, 249, 0.8);
}
.about {
  display: flex;
  padding: 50px 0 26px;
  position: relative;
  overflow-x: hidden;
  /* display: block; */
  padding: 0 calc(3.5vw + 5px);
}

.about::after {
  background: url("images/home-background.png") center center / cover no-repeat
    fixed;
}
.left {
  flex: 0.4;
}
.left img {
  position: relative;
  width: 100%;
  height: 90%;
  object-fit: contain;
}
.right {
  flex: 0.6;
}
.page-footer {
  padding-bottom: 23px;
  border-top: 3px solid #ca9953;
  margin-top: 30px;
}
.page-footer .footer-content {
  border-top: none;
  /* padding-top: 45px; */
}
.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}
.page-footer .footer-content {
  font-family: "Bree Serif";
  font-size: 20px;
  letter-spacing: 0px;
  color: #fafafa;
}
.menu {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0px;
}
.data {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-direction: column;
  padding-right: 2rem;
  padding-left: 36px;
}
.data h3 {
  margin-bottom: -10px;
}
.data h4 a:hover {
  color: rgba(209, 209, 209, 0.733);
}
.sub {
  line-height: 42px;
  padding-top: 10px;
}

.sub li {
  list-style: none;
}
.sub a {
  text-decoration: none;
  color: #fafafa;
}
.sub a:hover {
  color: rgba(209, 209, 209, 0.733);
}
.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.lazy {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  margin-bottom: 1rem;
}
.last {
  margin-top: 2rem;

  color: #A0A0A0;
  background-color: rgb(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
}
